{% render 'partials/head.liquid', title: 'Tumi Mundo' %}

{% if storydetail %}
<div class="story-detail">
    <h1>{{ storydetail.title }}</h1>
    <img src="https://fdnd-agency.directus.app/assets/{{ storydetail.image }}" alt="story image">
    <p>{{ storydetail.summary }}</p>
    {% if storydetail.audio[0] %}
    <audio controls src="https://fdnd-agency.directus.app/assets/{{ storydetail.audio[0]}}"></audio>
    {% else %}
    <p> [audio not found]</p>
    {% endif %}
    {% else %}
    <h1>Story not found.</h1>
</div>
{% endif %}
<footer>
    <a href="/">Back to all stories</a>
</footer>